In [1]:
!pip install nba_api

Collecting nba_api
  Downloading nba_api-1.1.11.tar.gz (125 kB)
Requirement already satisfied: requests in c:\users\marco\anaconda3\lib\site-packages (from nba_api) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\marco\anaconda3\lib\site-packages (from requests->nba_api) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\marco\anaconda3\lib\site-packages (from requests->nba_api) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\marco\anaconda3\lib\site-packages (from requests->nba_api) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\marco\anaconda3\lib\site-packages (from requests->nba_api) (1.26.7)
Building wheels for collected packages: nba-api
  Building wheel for nba-api (setup.py): started
  Building wheel for nba-api (setup.py): finished with status 'done'
  Created wheel for nba-api: filename=nba_api-1.1.11-py3-none-any.whl size=251504 sha256=b0e78107ebd05d2051bbdda6737278acba325de6c878755e6d57214061718059
  Stored in directory: c:\users\marco\appdata\local\pip\cache\wheels\66\c2\3b\c87a243f9e5d2449e7f2c7bd65de4a6b5ce9a24b33978398a7
Successfully built nba-api
Installing collected packages: nba-api
Successfully installed nba-api-1.1.11

In [31]:
from nba_api.stats.endpoints import commonallplayers
players = commonallplayers.CommonAllPlayers(is_only_current_season=1)
players_df = players.get_data_frames()[0]
#players_df.set_index('PERSON_ID', inplace=True) # No need to set index, small dataset
players_df['PERSON_ID'].tolist()

[1630173,
 203500,
 1628389,
 1630583,
 200746,
 1629638,
 1628960,
 1628386,
 1630631,
 1626147,
 203937,
 203507,
 203648,
 2546,
 1630175,
 1628384,
 1627853,
 2772,
 201571,
 1630166,
 1630555,
 1629028,
 1628962,
 1628963,
 1630163,
 1628366,
 1628964,
 1630217,
 1630625,
 1627760,
 203084,
 1630567,
 1629628,
 203115,
 1628238,
 1629646,
 1628966,
 201587,
 203145,
 1629647,
 203078,
 1627736,
 1628395,
 1627761,
 202722,
 201976,
 1630180,
 203920,
 1629048,
 202687,
 202357,
 202339,
 1629833,
 203992,
 202711,
 1629626,
 1630195,
 1629067,
 1626164,
 1630527,
 1628449,
 1630547,
 202340,
 1628396,
 1629649,
 1628969,
 1628970,
 1629052,
 1627763,
 1629717,
 1628415,
 1628971,
 1627759,
 1629650,
 1628425,
 1630535,
 1629718,
 1630602,
 1628972,
 1628973,
 1628418,
 1629783,
 203493,
 203504,
 202692,
 1630215,
 202710,
 1629719,
 203484,
 1630267,
 1628427,
 1629962,
 203991,
 1630176,
 1628975,
 1628976,
 1627936,
 1626161,
 1629958,
 1630551,
 1629597,
 1629185,
 1627737,
 1630528,
 1629109,
 1629634,
 203903,
 1629651,
 1629599,
 1628381,
 1628380,
 201954,
 201144,
 1626192,
 1629076,
 1630536,
 1627822,
 202326,
 203496,
 1628470,
 203109,
 1629633,
 1629600,
 1630595,
 203552,
 201939,
 203076,
 202334,
 1629056,
 1629602,
 201942,
 1630466,
 203473,
 1626155,
 1628978,
 1629603,
 1627767,
 1628977,
 203476,
 203915,
 1629029,
 1629652,
 1630245,
 1628422,
 1629653,
 1629635,
 1630288,
 1628408,
 201609,
 203083,
 1630537,
 1630561,
 1627739,
 201142,
 1630693,
 1630162,
 1629035,
 1630556,
 1630306,
 1629604,
 201961,
 203954,
 203516,
 1629234,
 1629605,
 202324,
 1628981,
 1627827,
 1630238,
 1630201,
 1627854,
 1630758,
 1630235,
 203095,
 1628368,
 204025,
 1628982,
 202683,
 1628365,
 1629117,
 1629655,
 201568,
 204038,
 1629636,
 1630585,
 1630586,
 1630568,
 200752,
 202331,
 201959,
 1630581,
 1628983,
 1630264,
 1630273,
 203497,
 1629164,
 1630692,
 203932,
 201569,
 1628984,
 203924,
 1629755,
 201980,
 203110,
 203210,
 1630224,
 1629750,
 201145,
 1630182,
 201933,
 1629656,
 1629657,
 1629060,
 1630169,
 1629788,
 1630181,
 203501,
 201935,
 203090,
 1629607,
 1626149,
 203914,
 203925,
 202699,
 1627885,
 1628404,
 1628392,
 2617,
 1630573,
 1629637,
 1630165,
 202330,
 1630565,
 1627823,
 1626195,
 1629639,
 1627741,
 1629312,
 201588,
 1630792,
 203524,
 1630207,
 1629658,
 1628988,
 201950,
 203200,
 1626158,
 203918,
 203816,
 201143,
 1629659,
 1627863,
 2730,
 1630210,
 1628989,
 1630643,
 1630190,
 1630624,
 1629631,
 1628990,
 1630538,
 201586,
 2738,
 204060,
 1627742,
 202681,
 1628371,
 1628411,
 1628402,
 1630543,
 1628367,
 1628382,
 202704,
 1628991,
 2544,
 1630610,
 1629610,
 1629660,
 1630198,
 1628993,
 1629168,
 1629661,
 1630525,
 1630552,
 201949,
 2207,
 1629640,
 1630553,
 1626169,
 204020,
 203999,
 1630637,
 1627745,
 1630529,
 1629203,
 1630539,
 1630222,
 1630200,
 1626145,
 1627884,
 201599,
 202709,
 1630686,
 1626163,
 1628379,
 1630296,
 1628994,
 1629663,
 1630557,
 1628467,
 202688,
 1630233,
 1628995,
 1629723,
 1627788,
 1628436,
 1630249,
 1629083,
 1630228,
 1628398,
 203897,
 1630237,
 203087,
 1629111,
 1629641,
 1627774,
 1627747,
 1627814,
 1630240,
 203458,
 202695,
 1630575,
 1630184,
 203081,
 1629642,
 1630587,
 1626172,
 201572,
 201577,
 1629712,
 201567,
 200768,
 1630994,
 1627789,
 1626168,
 1630177,
 1630572,
 1629611,
 1630544,
 1626246,
 1628374,
 1630230,
 1628997,
 1628998,
 1629103,
 1630231,
 1629726,
 1629751,
 202083,
 1630178,
 1630219,
 1630540,
 1630644,
 203468,
 204456,
 1630183,
 1629667,
 203926,
 201580,
 1630787,
 203585,
 1628035,
 1630605,
 1629162,
 203463,
 1629001,
 1630241,
 1629002,
 203114,
 101139,
 201988,
 200794,
 1629003,
 1630558,
 1628378,
 1630596,
 1628370,
 202328,
 1630541,
 1629875,
 1629760,
 1629630,
 1629752,
 1628537,
 202693,
 1628420,
 202694,
 1626144,
 1628539,
 1630278,
 1630530,
 1627749,
 1627750,
 203488,
 1629004,
 1627846,
 1626204,
 1630612,
 1630174,
 203526,
 1629005,
 1627777,
 1630227,
 1630192,
 203457,
 1629669,
 1628373,
 1629134,
 203994,
 1628021,
 1629670,
 1626220,
 1628400,
 1629643,
 1629006,
 1630168,
 1630171,
 1629644,
 203506,
 1628419,
 203482,
 1630647,
 1629671,
 1626224,
 1630187,
 1626162,
 1629873,
 1629309,
 1630698,
 203953,
 1629672,
 101108,
 1626166,
 203901,
 1627780,
 203658,
 1629617,
 1630691,
 1629033,
 203486,
 1627751,
 1630197,
 1630582,
 1629673,
 1629645,
 1629008,
 203490,
 1626171,
 204001,
 1630695,
 203939,
 1629619,
 1626181,
 1630554,
 1630563,
 1627752,
 1630202,
 1630243,
 1629674,
 1630193,
 1630186,
 203944,
 1630559,
 1629629,
 1628432,
 1630194,
 1629675,
 1630208,
 1626196,
 203085,
 1629130,
 1629620,
 1629011,
 1630526,
 1629676,
 200765,
 201565,
 203082,
 1626179,
 201937,
 1626156,
 1630346,
 1627734,
 203967,
 1630846,
 203107,
 1630648,
 1629678,
 203471,
 1630286,
 1630206,
 1627782,
 1630578,
 1629012,
 1629013,
 1630549,
 1627783,
 1629735,
 1627732,
 1630250,
 1629014,
 1630285,
 1630579,
 1629686,
 1630606,
 203935,
 202397,
 1630188,
 1628372,
 1630270,
 203503,
 1630531,
 1630199,
 203917,
 202362,
 1630205,
 1630597,
 1630191,
 1629622,
 1630591,
 1628591,
 1626208,
 1630256,
 1628369,
 1630678,
 202066,
 1629150,
 1630179,
 1630257,
 1628464,
 1630271,
 1630560,
 202738,
 1629744,
 202691,
 202684,
 1630550,
 1629680,
 1629681,
 1630214,
 1630225,
 1630167,
 1629308,
 1626157,
 1629018,
 200782,
 1629730,
 1626167,
 202685,
 1627756,
 1627832,
 1629020,
 1630170,
 1630492,
 1629216,
 202696,
 1629731,
 1630532,
 1629021,
 1630688,
 202689,
 1630640,
 1629022,
 202322,
 1627820,
 1628476,
 202954,
 203933,
 1629023,
 1630613,
 1629139,
 1629682,
 1630322,
 1630570,
 1628778,
 1629683,
 201566,
 1629632,
 1628401,
 202355,
 1630580,
 1630598,
 203952,
 1629623,
 1630314,
 1629684,
 1629026,
 101150,
 1630172,
 1630533,
 1629057,
 1629627,
 1628391,
 1629685,
 1626159,
 1630216,
 1630164,
 1626174,
 1630218,
 1626153,
 1630589,
 1630593,
 1628221,
 201152,
 1629027,
 1630209,
 203469,
 1627826]

In [32]:
players_df = players_df.loc[~(players_df['PERSON_ID'] == 1630597)]
players_df = players_df.loc[(players_df['TEAM_ID'] != 0) & (players_df['GAMES_PLAYED_FLAG'] != 'N')]

In [33]:
len(players_df)

503

In [1]:
!pip install tenacity
#from tenacity import *
import tenacity

"""
Fetch Common Player Info for a single player id.

Handles retry policy with the @tenacity.retry decorator.
The function should be decorated with the @tenacity.retry decorator.

Parameters
----------
player_id_list : list
    List of player ID
fetch_func : func
    Function that fetches the dataframe based on the player's id

Returns
-------
pandas.DataFrame
    Returns all DataFrames from every player merged in a single DataFrame

Examples
--------
These are written in doctest format, and should illustrate how to
use the function.

>>> @tenacity.retry(...)
>>> def fetch_func(id):
>>>   ...
>>>   return single_player_df
>>>   ...
>>> player_id_list = players_df['PERSON_ID'].tolist()
>>> result_df = get_info_from_players(player_id_list, fetch_func)
>>> result_df

"""
#@tenacity.retry(wait=tenacity.wait_fixed(1), stop=tenacity.stop_after_attempt(5))
@tenacity.retry(wait=tenacity.wait_fixed(1))
def fetch_single_player_CommonPlayerInfo_retry(id):
    player_info = commonplayerinfo.CommonPlayerInfo(id)
    return player_info.get_data_frames()[0]

Requirement already satisfied: tenacity in c:\users\marco\anaconda3\lib\site-packages (8.0.1)

In [ ]:
"""
Fetch Player Career Stats for every player id.

Uses the playercareerstats endpoint from nba_api.stats.endpoints.
Handles retry policy from the decorated function passed as argument.
The function should be decorated with the @tenacity.retry decorator.
Delays 1 second between API calls.
Note: The endpoint returns the stats for every season, so there can be more than 1 row for every player

Parameters
----------
id : int
    player ID

Returns
-------
pandas.DataFrame
    Returns a DataFrame with the information the PlayerCareerStats endpoint gives for the player ID

Examples
--------

>>> id = 1495 # Tim Duncan's id
>>> result_df = fetch_single_player_PlayerCareerStats_retry(id)
>>> result_df

"""

from nba_api.stats.endpoints import playercareerstats

@tenacity.retry(wait=tenacity.wait_fixed(1))
def fetch_single_player_PlayerCareerStats_retry(id):
    player_stats = playercareerstats.PlayerCareerStats(player_id=id)
    return player_stats.get_data_frames()[0]

In [3]:
import time
import pandas as pd

class FetchFailureException(Exception): # raised if data conversion fails
    def __init__(self, failureIndex):
        self.failureIndex = failureIndex;
        print("There was a problem fetching player with index: ", self.failureIndex)
    def get_index(self):
        return self.failureIndex

"""
Fetch specified info for every player id and merge in single DataFrame.

Uses a fetch_func parameter to specify which endpoint to use.
Handles retry policy from the decorated function passed as argument.
The function should be decorated with the @tenacity.retry decorator.
Delays 1 second between API calls.

Parameters
----------
player_id_list : list
    List of player ID
fetch_func : func
    Function that fetches the dataframe based on the player's id

Returns
-------
pandas.DataFrame
    Returns all DataFrames from every player merged in a single DataFrame

Examples
--------
These are written in doctest format, and should illustrate how to
use the function.

>>> @tenacity.retry(...)
>>> def fetch_func(id):
>>>   ...
>>>   return single_player_df
>>>   ...
>>> player_id_list = players_df['PERSON_ID'].tolist()
>>> result_df = get_info_from_players(player_id_list, fetch_func)
>>> result_df

"""
def get_info_from_players(player_id_list, fetch_func):
    try: # Try for the whole loop
        result_df = pd.DataFrame() #creates a new dataframe that's empty
        for player_id in player_id_list:
            time.sleep(1) # Delay 1 second to avoid being blocked by the API because of rapid repeating calls
            try: # Try for a single fetch
                # Returns a DataFrame with a single row containing the players personal info
                player_info = fetch_single_player_CommonPlayerInfo_retry(player_id)
            except tenacity.RetryError: # Single fetch failed
            # Tried too many times with timeout. Tenacity decorator launched this exception
            # Now launch an exception containing the information of the last player that was fetched with success
                raise FetchFailureException(index)
            else: # Single fetch succeeded
                # Fetch with success so append new row to result DataFrame
                print("\r", "player_id "+str(player_id)+" successful", end="")
                result_df = result_df.append(player_info, ignore_index = False) # ignoring index is optional
        return result_df

    except FetchFailureException as e: # There was a problem in an iteration of the loop
        # A fetch failed so here we print all the information we need to identify the error
        print('Fetch failed for player in index: ', e.get_index())
        return result_df
    else: # All the rows were fetched correctly
        print('Fetched all rows succesfully!')
        return result_df

In [39]:
player_id_list = players_df['PERSON_ID'].tolist()
result_df = get_info_from_players(player_id_list, fetch_single_player_CommonPlayerInfo_retry)
result_df

 player_id 1627826 successful

,PERSON_ID,FIRST_NAME,LAST_NAME,DISPLAY_FIRST_LAST,DISPLAY_LAST_COMMA_FIRST,DISPLAY_FI_LAST,PLAYER_SLUG,BIRTHDATE,SCHOOL,COUNTRY,...,PLAYERCODE,FROM_YEAR,TO_YEAR,DLEAGUE_FLAG,NBA_FLAG,GAMES_PLAYED_FLAG,DRAFT_YEAR,DRAFT_ROUND,DRAFT_NUMBER,GREATEST_75_FLAG
0,1630173,Precious,Achiuwa,Precious Achiuwa,"Achiuwa, Precious",P. Achiuwa,precious-achiuwa,1999-09-19T00:00:00,Memphis,Nigeria,...,precious_achiuwa,2020,2021,N,Y,Y,2020,1,20,N
0,203500,Steven,Adams,Steven Adams,"Adams, Steven",S. Adams,steven-adams,1993-07-20T00:00:00,Pittsburgh,New Zealand,...,steven_adams,2013,2021,N,Y,Y,2013,1,12,N
0,1628389,Bam,Adebayo,Bam Adebayo,"Adebayo, Bam",B. Adebayo,bam-adebayo,1997-07-18T00:00:00,Kentucky,USA,...,bam_adebayo,2017,2021,N,Y,Y,2017,1,14,N
0,1630583,Santi,Aldama,Santi Aldama,"Aldama, Santi",S. Aldama,santi-aldama,2001-01-10T00:00:00,Loyola-Maryland,Spain,...,santi_aldama,2021,2021,Y,Y,Y,2021,1,30,N
0,200746,LaMarcus,Aldridge,LaMarcus Aldridge,"Aldridge, LaMarcus",L. Aldridge,lamarcus-aldridge,1985-07-19T00:00:00,Texas-Austin,USA,...,lamarcus_aldridge,2006,2021,N,Y,Y,2006,1,2,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,1628221,Gabe,York,Gabe York,"York, Gabe",G. York,gabe-york,1993-08-02T00:00:00,Arizona,USA,...,gabe_york,2021,2021,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
0,201152,Thaddeus,Young,Thaddeus Young,"Young, Thaddeus",T. Young,thaddeus-young,1988-06-21T00:00:00,Georgia Tech,USA,...,thaddeus_young,2007,2021,N,Y,Y,2007,1,12,N
0,1629027,Trae,Young,Trae Young,"Young, Trae",T. Young,trae-young,1998-09-19T00:00:00,Oklahoma,USA,...,trae_young,2018,2021,N,Y,Y,2018,1,5,N
0,1630209,Omer,Yurtseven,Omer Yurtseven,"Yurtseven, Omer",O. Yurtseven,omer-yurtseven,1998-06-19T00:00:00,Georgetown,Turkey,...,tmp_omer_yurtseven,2020,2021,Y,Y,Y,Undrafted,Undrafted,Undrafted,N
0,1627826,Ivica,Zubac,Ivica Zubac,"Zubac, Ivica",I. Zubac,ivica-zubac,1997-03-18T00:00:00,Mega Basket,Croatia,...,ivica_zubac,2016,2021,Y,Y,Y,2016,2,32,N

In [46]:
result_df.columns

Index(['PERSON_ID', 'FIRST_NAME', 'LAST_NAME', 'DISPLAY_FIRST_LAST',
       'DISPLAY_LAST_COMMA_FIRST', 'DISPLAY_FI_LAST', 'PLAYER_SLUG',
       'BIRTHDATE', 'SCHOOL', 'COUNTRY', 'LAST_AFFILIATION', 'HEIGHT',
       'WEIGHT', 'SEASON_EXP', 'JERSEY', 'POSITION', 'ROSTERSTATUS',
       'GAMES_PLAYED_CURRENT_SEASON_FLAG', 'TEAM_ID', 'TEAM_NAME',
       'TEAM_ABBREVIATION', 'TEAM_CODE', 'TEAM_CITY', 'PLAYERCODE',
       'FROM_YEAR', 'TO_YEAR', 'DLEAGUE_FLAG', 'NBA_FLAG', 'GAMES_PLAYED_FLAG',
       'DRAFT_YEAR', 'DRAFT_ROUND', 'DRAFT_NUMBER', 'GREATEST_75_FLAG'],
      dtype='object')

In [43]:
file_path = 'D:/Users/marco/Documents/AnyoneAI/players_personal_info_raw.csv'
result_df.to_csv(file_path, encoding='utf-8', index=False)

In [ ]:
player_id (int) (INDEX) PERSON_ID
player_name (str) DISPLAY_FIRST_LAST
team_name (str) TEAM_NAME
position (str) POSITION
height (int) (in centimeters) HEIGHT
weight (float) (in kilograms) WEIGHT
country of origin (str) COUNTRY
date_of_birth (datetime) BIRTHDATE
age (str) (years and months) f(BIRTHDATE)
years_of_experience (int) (years since entering the league) FROM_YEAR
Draft position (int) f(DRAFT_ROUND, DRAFT_NUMBER)

In [12]:
from nba_api.stats.endpoints import playercareerstats
# Anthony Davis
career = playercareerstats.PlayerCareerStats(player_id='203076', per_mode36='Totals')
career.get_data_frames()[0].columns

Index(['PLAYER_ID', 'SEASON_ID', 'LEAGUE_ID', 'TEAM_ID', 'TEAM_ABBREVIATION',
       'PLAYER_AGE', 'GP', 'GS', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [16]:
career.get_data_frames()[0]

,PLAYER_ID,SEASON_ID,LEAGUE_ID,TEAM_ID,TEAM_ABBREVIATION,PLAYER_AGE,GP,GS,MIN,FGM,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PTS
0,203076,2012-13,00,1610612740,NOH,20.0,64,60,1846.0,349,...,0.751,165,357,522,63,75,112,89,158,867
1,203076,2013-14,00,1610612740,NOP,21.0,67,66,2358.0,522,...,0.791,207,466,673,105,89,189,109,200,1394
2,203076,2014-15,00,1610612740,NOP,22.0,68,68,2455.0,642,...,0.805,173,523,696,149,100,200,95,141,1656
3,203076,2015-16,00,1610612740,NOP,23.0,61,61,2164.0,560,...,0.758,130,497,627,116,78,125,121,148,1481
4,203076,2016-17,00,1610612740,NOP,24.0,75,75,2708.0,770,...,0.802,172,712,884,157,94,167,181,168,2099
5,203076,2017-18,00,1610612740,NOP,25.0,75,75,2727.0,780,...,0.828,187,644,831,174,115,193,162,159,2110
6,203076,2018-19,00,1610612740,NOP,26.0,56,56,1850.0,530,...,0.794,174,498,672,218,88,135,112,132,1452
7,203076,2019-20,00,1610612747,LAL,27.0,62,62,2131.0,551,...,0.846,142,435,577,200,91,143,154,156,1618
8,203076,2020-21,00,1610612747,LAL,28.0,36,36,1162.0,301,...,0.738,62,224,286,110,45,59,74,60,786
9,203076,2021-22,00,1610612747,LAL,29.0,40,40,1404.0,370,...,0.713,106,288,394,122,49,90,82,97,927